{% extends "base.html" %}
{% block content %}

<div class="card shadow p-4 text-center">
    <h2 class="text-success fw-bold">Bienvenido a Nutri-Track</h2>
    <p>Tu panel de control está ahora en el <strong>menú de navegación superior</strong> (Home, Perfil, Seguimiento, etc.). Usa las pestañas para acceder a las distintas secciones de tu aplicación nutricional.</p>
    <p><strong>Seguridad de Datos:</strong>
    <p>
    Tus datos serán protegidos y defendidos de cualquier invasión a tu privacidad y la responsabilidad será tomada por los creadores de esta Nutri-Track.</p>
    </p>
    <p>La aplicación Nutri-Track es una herramienta de apoyo digital y de seguimiento personal.</p>
    <p><strong>No Sustituye la Consulta Profesional:</strong></p>
    <p>
    La información, recomendaciones y seguimientos proporcionados por Nutri-Track NO sustituyen el diagnóstico, tratamiento o consejo proporcionado por un profesional de la salud con licencia (Nutriólogo, Médico, Psicólogo, Entrenador Personal, etc.).
    </p>
    <p><strong>Recomendación:</strong></p>
    <p>
    Recomendamos encarecidamente consultar a un profesional de la salud antes de iniciar cualquier cambio significativo en la dieta, el ejercicio o el estilo de vida, especialmente si tienes condiciones médicas preexistentes o estás tomando medicación.
    </p>
    <p><strong>Decisión y Riesgo:</strong></p>
    <p>
    El usuario asume toda la responsabilidad por el uso de la aplicación y cualquier decisión tomada con base en la información proporcionada por Nutri-Track.
    </p>
    <p><strong>Misión y Visión:</strong></p>
    <p>
        <strong>Misión:</strong>
        Potenciar a las personas para que tomen el control de su bienestar nutricional a través de un seguimiento intuitivo, preciso y motivador.
    </p>
    <p>
        <strong>Visión:</strong>
        Ser la plataforma líder mundial en el autocuidado digital de la nutrición y los hábitos saludables, promoviendo una relación positiva y sostenible con la alimentación.
    </p>
</div>

{% endblock %}
